.App {
  text-align: center;
  font-family: "fira sans",system-ui,-apple-system,roboto,"segoe ui",sans-serif;

}

.App-header {
  background-image: linear-gradient(rgba(255,255,255,0.25),rgba(255,255,255,0.25)),url(http://www.tenable.com/sites/all/themes/tenablefourteen/img/17/home-hero-hex.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 120px;
}

.App-header h2 {
  color: #00a5b5;
  font-size: 2em;
}

.App-header h3 {
  color: #777779;
  font-size: 1.3em;
}

/*
 * CSS for the input section at the top of the application
 */
.InputArea {
  padding: 15px;
}

.InputFieldLeft {
  display: inline-block;
  width: 50%;
  text-align:left;
}

.InputFieldRight {
  display: inline-block;
  width: 50%;
  text-align:right;
}

.InputArea input {
  line-height: 30px;
}

.InputArea button {
  line-height: 30px;
}

/* 
 * Display radio buttons as a set of toggle-able buttons instead of a list of radio buttons.
 */
.InputArea input[type="radio"] {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.InputArea label {
  display: inline-block;
  width: 120px;
  background-color: #e4e4e4;
  color:  #A9A9A9;
  line-height: 33px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.InputArea label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.InputArea label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.InputArea label:hover {
  cursor: pointer;
}

.InputArea input[type="radio"]:checked+label {
  background-color: #A9A9A9;
  color: #000000;
}

/* 
 * Table default theme - 
 * These were copied from https://github.com/bvaughn/react-virtualized/blob/master/source/styles.css,
 * but changed to be themed like Tenable
 */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {

}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.ReactVirtualized__Table__row:nth-child(even) {
  background: #afeeee;
}

.ReactVirtualized__Table__row:nth-child(odd) {
  background: #FFF;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}